<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../assets/img/s-logo.webp" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Personal Website | Detail Project</title>
  </head>
  <body style="font-family: Poppins;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
      <div class="container-fluid">
        <a href="/" class="me-lg-3">
          <img src="../assets/img/s-logo.webp" alt="logo" width="25rem" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul
            class="navbar-nav me-auto mb-2 mb-lg-0 d-sm-flex justify-content-center"
          >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/add-project">Add
                Project</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="testimonials.html">Testimonials</a>
            </li> -->
          </ul>
          <button class="btn btn-dark">
            <a class="nav-link" href="/contact-form">Contact Me</a>
          </button>
        </div>
      </div>
    </nav>

    <div class="container-fluid px-5">
      <h1 class="fw-bold text-center my-5 text-uppercase">{{data.name}}</h1>
      <div class="row mb-3">
        <div class="col-9">
          <img
            src="{{data.image}}"
            alt="test"
            class="w-100 object-fit-cover"
            style="border-radius: 10px; height: 750px"
          />
        </div>
        <div class="col-3">
          <h2 class="fw-bold">Duration</h2>
          <p class="fs-5">
            <i class="fa-solid fa-calendar-days"></i>
            {{dateFormat data.startDate}}
            -
            {{dateFormat data.endDate}}
          </p>
          <p class="fs-5">
            <i class="fa-solid fa-clock"></i>
            {{calculateDuration data.startDate data.endDate}}
          </p>
          <h2 class="fw-bold mt-5">Technologies</h2>
          {{#each data.technologies}}
            <p class="text-capitalize fs-5"><i
                class="fa-brands fa-{{this}}"
              ></i>{{this}}</p>
          {{/each}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            {{data.description}}
          </p>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
