<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../assets/img/s-logo.webp" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Personal Website | Edit Project</title>
  </head>
  <body style="font-family: Poppins">
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
      <div class="container-fluid">
        <a href="/" class="me-lg-3">
          <img src="../assets/img/s-logo.webp" alt="logo" width="25rem" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul
            class="navbar-nav me-auto mb-2 mb-lg-0 d-sm-flex justify-content-center"
          >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/add-project">Add
                Project</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="testimonials.html">Testimonials</a>
            </li> -->
          </ul>
          <button class="btn btn-dark">
            <a class="nav-link" href="/contact-form">Contact Me</a>
          </button>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1 class="fw-bold text-center mt-4">EDIT MY PROJECT</h1>
      <form class="row g-4" action="/edit-project" method="POST">
        <input type="hidden" name="id" value="{{data.id}}" />
        <div class="col-12">
          <label for="projectName" class="form-label">Project Name</label>
          <input
            type="text"
            class="form-control"
            id="projectName"
            name="projectName"
            value="{{data.projectName}}"
          />
        </div>
        <div class="col-md-6">
          <label for="startDate" class="form-label">Start Date</label>
          <input
            type="date"
            class="form-control"
            id="startDate"
            name="startDate"
            value="{{data.startDate}}"
          />
        </div>
        <div class="col-md-6">
          <label for="endDate" class="form-label">End Date</label>
          <input
            type="date"
            class="form-control"
            id="endDate"
            name="endDate"
            value="{{data.endDate}}"
          />
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="description"
            cols="30"
            rows="10"
          >{{data.description}}</textarea>
        </div>
        <div class="col-12">
          <label for="label" class="form-label d-block">Technologies</label>
          <div class="form-check form-check-inline">
            <div class="mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineCheckbox1"
                value="node-js"
                name="technologies"
                {{isChecked "node-js"}}
              />
              <label class="form-check-label" for="inlineCheckbox1">Node Js</label>
            </div>
            <div>
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineCheckbox1"
                value="react"
                name="technologies"
                {{isChecked "react"}}
              />
              <label class="form-check-label" for="inlineCheckbox1">React Js</label>
            </div>
          </div>
          <div class="form-check form-check-inline">
            <div class="mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineCheckbox1"
                value="android"
                name="technologies"
                {{isChecked "android"}}
              />
              <label class="form-check-label" for="inlineCheckbox1">Mobile App</label>
            </div>
            <div>
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineCheckbox1"
                value="html5"
                name="technologies"
                {{isChecked "html5"}}
              />
              <label class="form-check-label" for="inlineCheckbox1">Website App</label>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label for="formFile" class="form-label">Upload Image</label>
            <input class="form-control" type="file" id="formFile" name="file" />
          </div>
        </div>
        <div class="col-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-dark text-end">Submit</button>
        </div>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="./assets/scripts/main.js"></script>
    <script src="./assets/scripts/project.js"></script> -->
  </body>
</html>
